data/*
venv/
.vscode/
**/.ipynb_checkpoints/
__pycache__/
**/__pycache__/
*.py[cod]
*$py.class
dump.rdb
**/dump.rdb
*.db*
*.code-workspace
.coverage
htmlcov/
.pytest_cache/
.DS_Store
*/chunks/
dataset/data/*
backend/data/*